<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    

</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a style="font-size:25px; color: white;" href="/"><i class="fas fa-home" style="font-size:24px;"></i>Home</a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <a style="font-size:25px; color: white;"href="/dashboard"><i class="material-icons">dashboard</i>Dashboard</a>
                <button id="logout" style="color:white; font-size:25px;" class="btn-no-style logout"><i style ="color:white;" class='fas fa-sign-out-alt'></i>Logout</button>
                {{else}}
                <a style="font-size: 1em; color:white;" href="/login"> <i class='fas fa-power-off' style='font-size:2zpx'></i>Login</a>
                {{/if}}
            </nav>
        </header>
        <div class="site-row">
            <div class="site-name">
                <h1>The Tech Blog</h1>
            </div>
        </div>
        <main>
            {{{ body }}}
        </main>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>